{% extends 'base/base.html.twig' %}

{% block content %}
    {% from 'macro/formHeader.html.twig' import formHeader %}
    {{formHeader("Edit Event",'authorized')}}
    {{ include(
        'event/form/eventForm.html.twig',{
            'action': url_for('event.edit',{'id':event.getId}),
            'disable_type': true
        }
    ) }}
{% endblock %}