{% extends 'base/base.html.twig' %}
{% block content %}
	{% from 'macro/badge.html.twig' import userBadge %}
	<div class="d-flex justify-content-between align-items-center border-bottom pb-2">
		<h2 class="d-inline">
			Upcoming Events</h2>
		{% if user.has('SCHEDULE_EVENTS') %}
			<a href="{{url_for('event.new')}}" class="btn btn-success">
				<i class="fas fa-calendar-plus"></i>
				Schedule New Event</a>
		{% endif %}
	</div>
	<table class="table table-sm">
		<thead>
			<tr>
				<th>ID</th>
				<th>Type</th>
				<th>Name</th>
				<th>Start</th>
				<th>End</th>
				{% if user.has('SCHEDULE_EVENTS') %}
					<th>Created By</th>
				{% endif %}
			</tr>
		</thead>
		<tbody>
			{% for e in events %}
				<tr class="table-{{e.getType.getCssClass}}" data-href="{{url_for('event.view',{'id': e.getId})}}">
					<td>{{e.getId}}</td>

					<td>{{e.getType.value}}</td>
					<td>{{e.getName}}</td>
					<td>
						<time>{{e.getStart|date()}}</time>
					</td>
					<td>
						<time>{{e.getEnd|date()}}</time>
					</td>
					{% if user.has('SCHEDULE_EVENTS') %}
						<td>{{userBadge(e.getCreator)}}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
