{% extends 'base/base.html.twig' %}

{% block content %}
    {% from 'macro/formHeader.html.twig' import autoFormHeader %}
    {# {% set auth = {'action':'Schedule New Event', 'status':'authorized', 'source':'Birthright'} %} #}
    {{autoFormHeader(auth)}}
    {{ include(
        'event/form/eventForm.html.twig',{
            'action': url_for('event.new'),
            'disable_type': false
        }
    ) }}
{% endblock %}