{% extends 'base/base.html.twig' %}
{% block content %}
	{% from 'macro/badge.html.twig' import roleBadge, approvalBadge %}
	{% if event.getEdited %}
		<div class="border border-dark border-bottom-0 ms-4 d-inline-block lh-1" style="font-size: .8rem; padding: 5px 10px;">Updated:
			<time>{{event.getEdited|date}}</time>
		</div>
	{% endif %}
	{% include 'event/components/header.html.twig' %}
	<div class="row mx-0 border border-dark border-bottom-0">
		<div class="col p-2 border-dark border-end">
			<span class="d-block text-muted">Starts</span>
			<time class="d-block fs-5 fw-bold" data-type="absolute">{{event.getStart|date()}}</time>
		</div>
		<div class="col p-2">
			<span class="d-block text-muted">Ends</span>
			<time class="d-block fs-5 fw-bold" data-type="absolute">{{event.getEnd|date()}}</time>
		</div>
	</div>
	{% if event.getStart > event.getEnd %}
		<div class="p-2 text-bg-danger border-dark border-start border-end border-top font-monospace">
			<strong>ALERT</strong>
			DATA INTEGRITY MISMATCH – INVALID DATES DETECTED</div>
	{% endif %}
	<h4 class="d-flex justify-content-between border border-dark border-bottom-0 text-bg-secondary mb-0 p-2">
		<span>Roles & Visits</span>
	</h4>
	<div class="row mx-0 border border-dark">
		<div class="col-lg-4 border-dark border-end p-0 d-print-none">
			<span class="d-block text-muted p-2 ">Eligible Roles:</span>
			<div class="list-group list-group-flush">
				{% for r in roles %}
					<div class="list-group-item d-flex justify-content-between align-items-center border border-dark border-top border-bottom-0 border-end-0 border-start-0">
						<span class="badge fs-4" style="{{r.getStyleString}}">
							<i class="{{r.getIcon}}"></i>
							{{r.getName}}</span>
						<a href="{{url_for(r.getVisitRoute,{'id':event.getId, 'profile': r.getId})}}" class="btn btn-light">
							<i class="fa-solid fa-calendar-plus"></i>
							Request
							{{r.getVisitName}}</a>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="col p-0">
			<span class="d-block text-muted p-2 border-bottom border-dark">Scheduled Visits:</span>
			<table class="table table-sm table-hover border-dark">
				<thead>
					<tr class="table-secondary border-dark">
						<th>Name</th>
						<th>Start</th>
						<th>End</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					{% for v in visits %}
						<tr class="{{v.isApproved ? 'table-success' : 'table-warning'}} border-dark" data-href="{{url_for('visit.view',{'visit':v.getId})}}">
							<td>{{roleBadge(v.getProfile.getBadge)}}</td>
							<td>
								<time>{{v.getStart ? v.getStart|date() : event.getStart|date()}}</time>
							</td>
							<td>
								<time>{{v.getEnd ? v.getEnd|date() : event.getEnd|date()}}</time>
							</td>
							<td>{{approvalBadge(v.isApproved)}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
