{% from 'macro/badge.html.twig' import userBadge, roleBadge, approvalBadge %}
<h4 class="d-flex justify-content-between border border-dark border-bottom-0 text-bg-secondary mb-0 p-2">
	<span>Your Hampton Profiles</span>
</h4>
<div class="border border-dark border-bottom-0 py-3">
	<div class="d-grid justify-content-center text-center">
		<span>Your User Account</span>
		{{userBadge(app.user,'fs-3')}}
	</div>
	<div class="d-flex justify-content-center border-dark border-bottom col-6 mx-auto">
		<div class="border-dark border-end py-2"></div>
	</div>
	<div class="d-flex justify-content-between col-6 mx-auto">
		<div class="border-dark border-start py-2"></div>
		<div class="border-dark border-end py-2"></div>
	</div>
	<div class="row justify-content-md-center">
		<div class="col col-lg-3 text-center d-grid">
			<span>Your Inmate Profile</span>
			{% if app.user.getInmate %}
				{{roleBadge(app.user.getInmate.getBadge, 'fs-3')}}
			{% else %}
				<a class="btn btn-inmate" href="{{url_for('inmate.new')}}">Create Your Inmate Profile</a>
			{% endif %}
		</div>
		<div class="col col-lg-3"></div>
		<div class="col col-lg-3 text-center d-grid">
			<span>Your Guard Profile</span>
			{% if app.user.getGuard %}
				{{roleBadge(app.user.getGuard.getBadge, 'fs-3')}}
			{% else %}
				<a class="btn btn-guard" href="{{url_for('guard.new')}}">Create Your Guard Profile</a>
			{% endif %}
		</div>
	</div>
</div>
<h4 class="d-flex justify-content-between border border-dark border-bottom-0 text-bg-secondary mb-0 p-2">
	<span>Additional Profiles</span>
</h4>
<div class="form-text p-2 m-0 border border-dark border-bottom-0">Additional profiles are attached to your account by administrators.
</div>
<div class="grid border border-dark border-bottom-0 p-2">
	{% for p in app.user.getProfiles %}
		{% if p.getType.value == 'Custom' %}
			<div class="g-col-3">
				<span class="d-block">Your
					{{p.getRole.getName}}
					Profile</span>
				{{roleBadge(p.getBadge,'fs-3')}}
			</div>
		{% endif %}
	{% endfor %}
</div>
<h4 class="d-flex justify-content-between border border-dark border-bottom-0 text-bg-secondary mb-0 p-2">
	<span>Your Upcoming Visits</span>
</h4>

<table class="table table-sm table-hover border border-dark">
	<thead>
		<tr>
			<th>Event</th>
			<th>Profile</th>
			<th>Start</th>
			<th>End</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		{% for v in visits %}
			<tr class="{{v.isApproved ? 'table-success' : 'table-warning'}} border-dark" data-href="{{url_for('visit.view',{'visit':v.getId})}}">
				<td>{{v.getName}}</td>
				<td>{{roleBadge(v.getProfile.getBadge)}}</td>
				<td>
					<time>{{v.getStart|date()}}</time>
				</td>
				<td>
					<time>{{v.getEnd|date()}}</time>
				</td>
				<td>{{approvalBadge(v.isApproved)}}</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
