<div class="row">
	<div class="col-lg-8">
		<div class="p-5 mb-4 bg-danger border border-danger" style="--bs-bg-opacity: .25;">
			<div class="container-fluid py-5">
				<h1 class="display-5 fw-bold text-danger">
					<i class="fas fa-ban"></i>
					Restricted Service</h1>
				<p class="col-md-8 fs-4">This application is intended solely to be used by staff of the
					{{app.fullname}}. Unauthorized access is
					<strong>expressly forbidden</strong>.</p>
				<p class="col-md-8 fs-4">Do not proceed past this point unless you have been previously authorized to do so.</p>
			</div>
		</div>
	</div>
	<div class="col-lg-4 d-flex align-items-center">
		<div class="card bg-body-tertiary ms-auto">
			<div class="card-body d-grid gap-2">
				<p class="lead mb-0">Create or log in to your
					{{app.name}}
					account:</p>
				<a href="{{url_for('register')}}" class="btn btn-primary btn-lg">Create Account</a>
				<a href="{{url_for('login')}}" class="btn btn-success btn-lg">Login</a>
			</div>
		</div>
	</div>
