{% extends 'base/base.html.twig' %}
{% block content %}
	<div class="mx-auto card bg-primary-subtle border border-primary" style="max-width: 500px;">
		<div class="card-body">
			{% include 'guest/form/loginForm.html.twig' %}
		</div>
	</div>
{% endblock %}
