{% extends 'base/base.html.twig' %}
{% block content %}
	<div class="row justify-content-md-center">
		<div class="col col-lg-4">
			<div class="card bg-inmate">
				<div class="card-body">
					{% include 'inmate/form/newInmateForm.html.twig' %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
