<form method="post" action="{{url_for('password.reset.forced')}}">
	<div class="form-text p-2 m-0">You must pick a new password before you can continue.</div>
	<div class="row mx-0 border-dark border-top border-bottom">
		<div class="form-floating p-0 flex-grow-1 border-dark col">
			<input type="password" class="form-control border-0" id="password" placeholder="" name="password">
			<label for="password">Password</label>
		</div>
		<div class="form-floating p-0 flex-grow-1 border-start border-dark col">
			<input type="password" class="form-control border-0" id="password2" placeholder="" name="password2">
			<label for="password2">Confirm Password</label>
		</div>
	</div>
	{{csrf()}}
	<div class="d-grid p-2">
		<button type="submit" class="btn btn-primary">Reset Password</button>
	</div>
</form>
