<a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#travelModal">
	<i class="fa-solid fa-plane"></i>
	Update Travel Plans</a>

<div class="modal fade" id="travelModal" tabindex="-1" aria-labelledby="travelModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="travelModalLabel">Travel Plans</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form class="modal-body" name="visitTravelForm" id="visitTravelForm" method="post" action="{{url_for('visit.metadata',{'visit': visit.getId,'key':'travel'})}}" autocomplete="off">
				<p class="fw-bold">How are you getting here?</p>
				<div class="row g-2">
					<div class="col-lg">
						<div class="form-floating">
							<select class="form-select" id="arrivalMethod" name="arrivalMethod">
								<option selected disabled>Select Option</option>
								{% for k, v in constant('App\\Domain\\Metadata\\Visit\\Data\\TravelData::ARRIVAL_OPTIONS') %}
								<option value="{{k}}">{{v}}</option>
								{% endfor %}
							</select>
							<label for="arrivalMethod">I am</label>
						</div>
					</div>
					<div class="col-lg">
						<div class="form-floating">
							<input type="text" class="form-control" id="arrivalAirport" name="arrivalAirport" placeholder="DSM" value="{{m.value.arrivalAirport}}">
							<label for="arrivalAirport">Into (airport code)</label>
						</div>
					</div>
					<div class="col-lg">
						<div class="form-floating">
							<input type="text" class="form-control" id="arrivalNumber" name="arrivalNumber" placeholder="" value="{{m.value.arrivalNumber}}">
							<label for="arrivalNumber">On Flight #</label>
						</div>
					</div>
					<div class="col-lg">
						<div class="form-floating">
							<input type="datetime-local" class="form-control" id="arrivalTime" name="arrivalTime" placeholder=""  value="{{m.value.arrivalTime}}">
							<label for="arrivalTime">Scheduled Arrival</label>
						</div>
					</div>
					<div class="col-lg">
						<div class="form-floating">
							<select class="form-select" id="lastLeg" name="lastLeg">
								<option selected disabled>Select Option</option>
								{% for k, v in constant('App\\Domain\\Metadata\\Visit\\Data\\TravelData::LASTLEG_OPTIONS') %}
								<option value="{{k}}">{{v}}</option>
								{% endfor %}
							</select>
							<label for="lastLeg">And then I am</label>
						</div>
					</div>
				</div>
				<hr>
				<p class="fw-bold">How are you leaving?</p>
				<div class="row g-2">
					<div class="col-lg">
						<div class="form-floating">
							<select class="form-select" id="departureMethod" name="departureMethod">
								<option selected disabled>Select Option</option>
								{% for k, v in constant('App\\Domain\\Metadata\\Visit\\Data\\TravelData::DEPARTURE_OPTIONS') %}
								<option value="{{k}}">{{v}}</option>
								{% endfor %}
							</select>
							<label for="method">I am</label>
						</div>
					</div>
					<div class="col-lg">
						<div class="form-floating">
							<input type="text" class="form-control" id="departureAirport" placeholder="" name="departureAirport"  value="{{m.value.departureAirport}}">
							<label for="departureAirport">Out of (airport code)</label>
						</div>
					</div>
					<div class="col-lg">
						<div class="form-floating">
							<input type="text" class="form-control" id="departureNumber" placeholder="" name="departureNumber"  value="{{m.value.departureNumber}}">
							<label for="departureNumber">On Flight #</label>
						</div>
					</div>
					<div class="col-lg">
						<div class="form-floating">
							<input type="datetime-local" class="form-control" id="departureTime" placeholder="" name="departureTime"  value="{{m.value.departureTime}}">
							<label for="departureTime">Scheduled Departure</label>
						</div>
					</div>
				</div>
			</form>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="submit" class="btn btn-primary" form="visitTravelForm">Save changes</button>
			</div>
		</div>
	</div>
</div>
