<h4 class="d-flex justify-content-between text-bg-secondary mb-0 p-2 border-dark border-bottom">
	<span>Travel Plans</span>
	<span>Last Updated:
		<time>{{m.getUpdated ? m.getUpdated|date() : m.getCreated|date()}}</time>
	</span>
</h4>
<div class="px-0">
	<div class="row mx-0">
		<div class="col border-bottom border-dark bg-secondary-subtle">
			<h5 class="my-2">Arrival</h5>
		</div>
	</div>
	<div class="row">
		<div class="col d-grid ps-4 border-end border-dark">
			<span class="text-muted">I am</span>
			<span class="fw-bold fs-5">{{m.value.arrivalMethod|title}}</span>
		</div>
		<div class="col d-grid border-end border-dark">
			<span class="text-muted">Into</span>
			<span class="fw-bold fs-5">{{m.value.arrivalAirport}}</span>
		</div>
		<div class="col d-grid border-end border-dark">
			<span class="text-muted">On Flight #</span>
			<span class="fw-bold fs-5">{{m.value.arrivalNumber}}</span>
		</div>
		<div class="col d-grid border-end border-dark">
			<span class="text-muted">Landing At</span>
			<span class="fw-bold fs-5">
				<time>{{m.value.arrivalTime}}</time>
			</span>
		</div>
		<div class="col d-grid ">
			<span class="text-muted">And Then I Am</span>
			<span class="fw-bold fs-5">{{m.value.lastleg_h}}</span>
		</div>
	</div>
</div>


<div class="px-0 border-top border-dark border-bottom">
	<div class="row mx-0">
		<div class="col bg-secondary-subtle border-bottom border-dark">
			<h5 class="my-2">Departure</h5>
		</div>
	</div>
	<div class="row">
		<div class="col d-grid ps-4 border-end border-dark">
			<span class="text-muted">I am</span>
			<span class="fw-bold fs-5">{{m.value.departureMethod|title}}</span>
		</div>
		<div class="col d-grid border-end border-dark">
			<span class="text-muted">Out Of</span>
			<span class="fw-bold fs-5">{{m.value.departureAirport}}</span>
		</div>
		<div class="col d-grid border-end border-dark">
			<span class="text-muted">On Flight #</span>
			<span class="fw-bold fs-5">{{m.value.departureNumber}}</span>
		</div>
		<div class="col d-grid ">
			<span class="text-muted">Departing At</span>
			<span class="fw-bold fs-5">
				<time>{{m.value.departureTime}}</time>
			</span>
		</div>
	</div>
</div>
