<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{app.name}}</title>
		{% block stylesheets %}
			{{ webpack_entry_link_tags('app') }}
		{% endblock %}

		{% block scripts %}
			{{ webpack_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{% block header %}
			{% include 'base/header.html.twig' %}
		{% endblock %}
		<div class="container my-3">
			{% block content %}

			{% endblock %}
		</div>
		{% block footer %}
			{% include 'base/footer.html.twig' %}
		{% endblock %}
	</body>
</html>
