<footer id="colophon">
	<div class="container pt-3 mt-3">
		<hr>
		<a href="{{url_for('home')}}">{{app.name}}</a>
		- v.<a href="#">{{app.version}}</a>
		©{{now|date('Y')}}
		• An O.T.I.S. Production
		<ol class="ps-0" style="font-size: .8rem">
			<li>All dates & times are in
								the
				{{app.display_tz}}
				Timzone
								using a 24-hour clock</li>
		</ol>
		{{dump()}}
	</div>
</footer>
