<header id="masthead">
	<nav class="navbar navbar-expand-lg bg-body-tertiary border border-bottom">
		<div class="{{wide ? 'container-fluid' : 'container'}}">
			<a class="navbar-brand font-monospace" href="{{url_for('home')}}">{{app.name}}</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				{% block navbar %}
					{% include 'base/navbar.html.twig' %}
				{% endblock %}
			</div>
		</div>
	</nav>
</header>
