<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	{% if not app.user %}
		<li class="nav-item">
			<a class="nav-link" href="{{url_for('register')}}">Create Account</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{{url_for('login')}}">Login</a>
		</li>
	{% else %}
		<li class="nav-item">
			<a class="nav-link" href="{{url_for('calendar')}}">Calendar</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Events
			</a>
			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item" href="{{url_for('event.list')}}">
						<i class="fas fa-calendar-days"></i>
						View All</a>
				</li>
				{% if app.user.has('SCHEDULE_EVENTS') %}
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="{{url_for('event.new')}}">
							<i class="fas fa-calendar-plus"></i>
							New Event</a>
					</li>
				{% endif %}
			</ul>
		</li>
		{% if app.user.has('MANAGE_ROLES') %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Roles
				</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" href="{{url_for('role.list')}}">
							<i class="fas fa-users"></i>
							View All</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="{{url_for('role.new')}}">
							<i class="fas fa-plus"></i>
							New Role</a>
					</li>
				</ul>
			</li>
		{% endif %}
		{% if app.user.has('MANAGE_USERS') %}
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
					Users
				</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" href="{{url_for('users.list')}}">
							<i class="fas fa-users"></i>
							View All</a>
					</li>
					<li><hr class="dropdown-divider"></li>
					<li>
						<a class="dropdown-item" href="{{url_for('ranks.list')}}">
							<i class="fa-regular fa-id-badge"></i>
							Ranks</a>
					</li>
				</ul>
			</li>
		{% endif %}
	{% endif %}
</ul>
<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
	{% if app.user %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Logged in as
				{{app.user.getName}}
			</a>
			<ul class="dropdown-menu">
				<li>
					<form class="form px-2 d-grid" action="{{url_for('logout')}}" method="post">
						<button type="submit" class="btn btn-danger btn-sm">Log Out</button>
					</form>
				</li>
			</ul>
		</li>
	{% endif %}
</ul>
