<header id="masthead">
	<nav class="navbar navbar-expand-lg bg-body-tertiary border border-bottom">
		<div class="container">
			<a class="navbar-brand font-monospace" href="{{url_for('home')}}">{{app.name}}</a>
		</div>
	</nav>
</header>
