{% extends 'base/base.html.twig' %}

{% block content %}
	{% from 'macro/badge.html.twig' import roleBadge %}
	<div class="d-flex justify-content-between align-items-center border border-dark border-bottom-0 p-2">
		<h2 class="d-inline mb-0">Editing a
			{{visit.isApproved ? 'Confirmed' : 'Pending'}}
			{{profile.getVisitName}}
			for
			{{roleBadge(profile.getBadge)}}</h2>
	</div>
	<form action="{{url_for('visit.edit',{'visit':visit.getId})}}" method="post">
		{% set start = visit.getStart ?: event.getStart %}
		{% set end = visit.getEnd ?: event.getEnd %}
		<div class="row mx-0 border border-dark border-bottom-0">
			<div class="form-floating col border-dark border-end p-0">
				<input type="datetime-local" class="form-control border-0" id="start" placeholder="" name="start" value="{{start|date("Y-m-d\\TH:i")}}" required min="{{event.start|date("Y-m-d\\TH:i")}}" max="{{event.end|date("Y-m-d\\TH:i")}}">
				<label for="start">{{profile.getVisitName}}
					Start</label>
			</div>
			<div class="form-floating col border-dark p-0">
				<input type="datetime-local" class="form-control border-0" id="end" placeholder="" name="end" value="{{end|date("Y-m-d\\TH:i")}}" required min="{{event.start|date("Y-m-d\\TH:i")}}" max="{{event.end|date("Y-m-d\\TH:i")}}">
				<label for="start">{{profile.getVisitName}}
					End</label>
			</div>
		</div>
		<div class="row mx-0 border border-dark border-bottom-0">
			<div class="col p-2 border-dark border-end">
				<span class="d-block text-muted">Event Starts</span>
				<time class="d-block fs-5 fw-bold" data-type="absolute">{{event.getStart|date()}}</time>
			</div>
			<div class="col p-2">
				<span class="d-block text-muted">Event Ends</span>
				<time class="d-block fs-5 fw-bold" data-type="absolute">{{event.getEnd|date()}}</time>
			</div>
		</div>
		<p class="form-text m-0 p-2 border border-dark border-bottom-0">
			If you need to schedule your visit to occur outside of the dates specified for this event; or if you need to cancel your visit, please contact a schedule supervisor.
		</p>
		<div class="p-2 border border-dark d-flex justify-content-end bg-primary-subtle gap-2">
			{% if event.getId %}
				<a href="{{url_for('visit.view',{'visit':visit.getId})}}" class="btn btn-secondary">Cancel</a>
			{% endif %}
			<button type="submit" class="btn btn-primary">Save Changes</button>
		</div>
		<input type="hidden" name="timezone"/>
	</form>

{% endblock %}
