{% extends 'base/base.html.twig' %}

{% block content %}
	{% include "event/components/header.html.twig" %}
	{% from 'macro/badge.html.twig' import roleBadge %}
	<div class="border border-dark border-bottom-0 p-2">
		<p class="lead mb-0 p-0">You are requesting a
			{{profile.getVisitName}}
			for
			{{roleBadge(profile.getBadge)}}
			from
			<time>{{event.getStart|date()}}</time>
			until
			<time>{{event.getEnd|date()}}</time>
		</p>
		<p class="mb-0">If you are arriving after this event starts, or leaving before this event ends, please update the dates below.</p>
	</div>
	{{ include('visit/form/visitForm.html.twig', {
			'url': url_for('visit.request',{'id':event.getId,'profile':profile.getId}), 
			'name': profile.getVisitName
		},
	) }}

{% endblock %}
