{% extends 'base/base.html.twig' %}

{% block content %}
	{% include "event/components/header.html.twig" %}
	{% from 'macro/badge.html.twig' import roleBadge %}
	<div class="border border-dark border-bottom-0 p-2">
	<p class="lead m-0 p-0">You are requesting an inmate sentence for
		{{roleBadge(app.user.getInmate.getBadge)}}
		from
		<time>{{event.getStart|date()}}</time>
		until
		<time>{{event.getEnd|date()}}</time>
		<p>If you are arriving later, or leaving before this event ends, please update the dates below.</p>
	</div>
	{{ include('visit/form/visitForm.html.twig', {
			'url': url_for('sentence.request',{id:event.getId}), 
			'name': 'sentence'
		},
	) }}

{% endblock %}
