{% extends 'base/base.html.twig' %}

{% block content %}
	{% from 'macro/badge.html.twig' import roleBadge %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="{{url_for('event.view',{'id':event.getId})}}">#{{event.getId}}
					{{event.getname}}</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">{{profile.getVisitName}}</li>
		</ol>
	</nav>

	{% if visit.getEdited %}
		<div class="border border-dark border-bottom-0 ms-4 d-inline-block lh-1" style="font-size: .8rem; padding: 5px 10px;">Updated:
			<time>{{visit.getEdited|date}}</time>
		</div>
	{% endif %}
	<div class="d-flex justify-content-between align-items-center border border-dark border-bottom-0 p-2">
		<h2 class="d-inline mb-0">
			{{visit.isApproved ? 'Confirmed' : 'Pending'}}
			{{profile.getVisitName}}
			for
			{{roleBadge(profile.getBadge)}}</h2>
		<div>
			{% if visit.isApproved %}
				<a href="#" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#disapproveModal">
					<i class="fa-solid fa-times"></i>
					Revoke Approval</a>
			{% else %}
				<a href="#" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#approveModal">
					<i class="fa-solid fa-check"></i>
					Approve
					{{profile.getVisitName}}</a>
			{% endif %}
			<a href="{{url_for('visit.edit',{'visit': visit.getId})}}" class="btn btn-primary">
				<i class="fa-solid fa-pencil"></i>
				Update
				{{profile.getVisitName}}</a>
		</div>
	</div>
	<div class="d-flex justify-content-between align-items-center border border-dark border-bottom-0 p-2">
		<div class="col">
			<span class="d-block text-muted">Event</span>
			<span class="fs-5 fw-bold">
				<a href="{{url_for('event.view',{'id': event.getId})}}">{{event.getName}}</a>
			</span>
		</div>
	</div>
	<div class="row mx-0 mb-0 border border-dark border-bottom-0">
		{% if visit.isApproved %}
			<div class="col text-bg-success my-0">
				<span class="d-block">Status</span>
				<span class="fs-5 fw-bold">This
					{{profile.getVisitName}}
					has been approved!</span>
			</div>
		{% else %}
			<div class="col text-bg-warning my-0">
				<span class="d-block text-muted">Status</span>
				<span class="fs-5 fw-bold">This
					{{profile.getVisitName}}
					is awaiting approval</span>
			</div>
		{% endif %}
	</div>
	{% set start = visit.getStart ?: event.getStart %}
	{% set end = visit.getEnd ?: event.getEnd %}
	<div class="row mx-0 mb-0 border border-dark border-bottom-0">
		<div class="col-lg-4 border-end border-dark">
			<span class="d-block text-muted">{{profile.getVisitName}}
				Starts</span>
			<time class="d-block fs-5 fw-bold" data-type="absolute">{{start|date()}}</time>
		</div>
		<div class="col-lg-4">
			<span class="d-block text-muted">{{profile.getVisitName}}
				Ends</span>
			<time class="d-block fs-5 fw-bold" data-type="absolute">
			{{end|date()}}
		</time>
	</div>
	<div class="border-top border-dark p-2">Do you know when you're arriving? Please
		<a href="{{url_for('visit.edit',{'visit': visit.getId})}}">update your
			{{profile.getVisitName|lower}}</a>
		with that information and be sure your
		<a href="#" data-bs-toggle="modal" data-bs-target="#travelModal">travel plans</a>
		are on file.</div>
	<div class="border-top border-bottom border-dark p-2">
		{{ include('visit/metadata/travelModal.html.twig', {'m': metadata.travel}) }}
	</div>

	{% for k, m in metadata %}
		{{ include('visit/metadata/' ~ k ~ '.html.twig', {'m': m},with_context = false, ignore_missing = true) }}
	{% endfor %}

	{{include('visit/components/approveModal.html.twig')}}
	{{include('visit/components/disapproveModal.html.twig')}}
{% endblock %}
