<div class="mx-auto card bg-primary-subtle border border-primary" style="max-width: 500px;">
	<div class="card-body">
		<div class="alert alert-danger">The email or password you entered is incorrect</div>
		{% include 'guest/form/loginForm.html.twig' %}
	</div>
</div>
