{% extends 'base/base.html.twig' %}
{% block content %}
	<div class="row justify-content-md-center">
		<div class="col col-lg-4">
			<div class="card text-bg-guard">
				<div class="card-body">
					{% include 'guard/form/newGuardForm.html.twig' %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
