{% from 'macro/badge.html.twig' import userBadge %}

<div class="d-flex justify-content-between align-items-center border border-dark border-bottom-0 p-2">
	<h2 class="d-inline mb-0">
		<span class="text-muted">#{{event.getId}}</span>
		{{event.getName}}</h2>
	{% if app.user.has('SCHEDULE_EVENTS') %}
		<a href="{{url_for('event.edit',{'id':event.getId})}}" class="btn btn-primary">
			<i class="fa-solid fa-pencil"></i>
			Edit Event</a>
	{% endif %}
</div>
<h3 class="border border-dark border-bottom-0 p-2 text-bg-{{event.getType.getCssClass}} fs-5 fw-bold mb-0">A
	{{event.getType.value}}
	Event</h3>
<div class="border border-dark p-2 border-bottom-0">
	<span class="d-block text-muted">Description</span>
	<p class="lead mb-0">{{event.getDesc}}</p>
</div>
