<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content border-dark">
			<div class="modal-header border-dark">
				<h1 class="modal-title fs-5" id="profileModalLabel">Grant Profile To User</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form class="modal-body p-0" action="{{url_for('user.edit',{'user':user.getId,'action':'profile'})}}" method="post" autocomplee="off" name="profileForm" id="profileForm">
				<div class="form-floating">
					<select class="form-select border-dark border-0 border-bottom" id="role" name="role">
						<option disabled selected>Select Role</option>
						{% for r in roles %}
							<option value="{{r.getId}}">{{r.getName}}</option>
						{% endfor %}
					</select>
					<label for="role">Role</label>
				</div>
				<div class="row mx-0 border-dark botder-bottom">
					<div class="form-floating p-0 flex-grow-1 border-dark col">
						<input type="text" class="form-control border-0" id="firstName" placeholder="" name="firstName">
						<label for="firstName">First Name</label>
					</div>
					<div class="form-floating p-0 flex-grow-1 border-start border-dark col">
						<input type="text" class="form-control border-0" id="lastName" placeholder="" name="lastName">
						<label for="lastName">Last Name</label>
					</div>
				</div>
				<div class="form-floating p-0 flex-grow-1 border-dark border-top col">
					<input type="text" class="form-control border-0" id="alias" placeholder="" name="alias" required>
					<label for="alias">Alias</label>
				</div>
				<div class="form-text p-2 m-0 border-dark border-top">
					First and last names are only visible to users with permission to see event details. All other users will only see the alias. Granting this profile will allow this user to request visits on any event where the corresponding role is enabled.
				</div>
			</form>
			<div class="modal-footer border-dark">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary" form="profileForm">Save changes</button>
			</div>
		</div>
	</div>
</div>
