<!-- Button trigger modal -->
<a href="#" data-bs-toggle="modal" data-bs-target="#rankModal">
	Change Rank
</a>

<!-- Modal -->
<div class="modal fade" id="rankModal" tabindex="-1" aria-labelledby="rankModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="rankModalLabel">Change User Rank</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form class="modal-body" action="{{url_for('user.edit',{'user':user.getId,'action':'rank'})}}" method="post" autocomplee="off" name="rankForm" id="rankForm">
				<div class="form-floating">
					<select class="form-select" id="floatingSelect" name="rank">
						<option disabled selected>Select Rank</option>
						{% for r in ranks %}
							<option value="{{r.getId}}" {{user.getRank.getId == r.getId ? 'selected'}}>{{r.getName}}</option>
						{% endfor %}
					</select>
					<label for="floatingSelect">User Rank</label>
				</div>
			</form>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary" form="rankForm">Save changes</button>
			</div>
		</div>
	</div>
</div>
