<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content border-dark">
			<div class="modal-header border-dark">
				<h1 class="modal-title fs-5" id="passwordModalLabel">Change User Password</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<form class="modal-body p-0" action="{{url_for('user.edit',{'user':user.getId,'action':'password'})}}" method="post" autocomplee="off" name="passwordForm" id="passwordForm">
				<div class="row mx-0 border-dark botder-bottom">
					<div class="form-floating p-0 flex-grow-1 border-dark col">
						<input type="password" class="form-control border-0" id="password" placeholder="" name="password">
						<label for="password">Password</label>
					</div>
					<div class="form-floating p-0 flex-grow-1 border-start border-dark col">
						<input type="password" class="form-control border-0" id="password2" placeholder="" name="password2">
						<label for="password2">Confirm Password</label>
					</div>
				</div>
				<div class="form-text p-2 m-0 border-dark border-top">
					Set a temporary password for this user. They will be required to set a new password the next time they log in.
				</div>
			</form>
			<div class="modal-footer border-dark">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary" form="passwordForm">Set Password</button>
			</div>
		</div>
	</div>
</div>
