<h3>Create Your Inmate Profile</h3>
<form method="post" action="{{url_for('guard.new')}}">
	<p>You don't need to, and shouldn't use your real name here. An alias is required at minimum.</p>
	<div class="mb-3">
		<label for="firstName" class="form-label">First Name</label>
		<input name="firstName" id="firstName" class="form-control" />
	</div>
	<div class="mb-3">
		<label for="lastName" class="form-label">Last Name</label>
		<input name="lastName" id="lastName" class="form-control" />
	</div>
    <div class="mb-3">
		<label for="alias" class="form-label">Alias</label>
		<input name="alias" id="alias" class="form-control" required />
        <span class="form-text">Your AKA, your nom de plume, your psuedonym, your nickname, your stage name</span>
	</div>
	{{csrf()}}
	<div class="d-grid">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>
