{% from 'macro/badge.html.twig' import roleBadge %}
<form action="{{action}}" method="post" class="needs-validation">
	<h4 class="d-flex justify-content-between border border-dark border-bottom-0 text-bg-secondary mb-0 p-2">
		<span>Basic Information</span>
	</h4>
	<div class="d-flex justify-content-start align-items-center border border-dark border-bottom-0 p-0">
		<h2 class="m-0">
			<span class="text-muted mx-2">#{{event.getId ?: '<em>pending</em>'}}
			</span>
		</h2>
		<div class="form-floating p-0 flex-grow-1 border-start border-dark">
			<input type="text" class="form-control border-0" id="name" placeholder="" name="name" value="{{event.getName}}" required>
			<label for="name">Name</label>
		</div>
	</div>
	<div class="row mx-0 border border-dark border-bottom-0">
		<div class="form-floating p-0">
			<textarea class="form-control border-0" placeholder="Description" id="desc" name="desc" style="height: 100px;" required>{{event.getDesc}}</textarea>
			<label for="desc">Description</label>
		</div>
	</div>
	<div class="row mx-0 border border-dark border-bottom-0">
		<div class="form-floating col border-dark border-end p-0">
			<input type="datetime-local" class="form-control border-0" id="start" placeholder="" name="start" {% if event.getId %} value="{{event.getStart|date("Y-m-d\\TH:i")}}" {% endif %} required>
			<label for="start">Start</label>
		</div>
		<div class="form-floating col border-dark p-0">
			<input type="datetime-local" class="form-control border-0" id="end" placeholder="" name="end" {% if event.getId %} value="{{event.getEnd|date("Y-m-d\\TH:i")}}" {% endif %} required>
			<label for="start">End</label>
		</div>
	</div>
	{% if event.getId %}
		<p class="form-text m-0 p-2 border border-dark border-bottom-0">Changes to the date and times for this event will not affect any visits already scheduled for this event. Already scheduled visits for this event may need to be adjusted manually.</p>
	{% endif %}
	<h4 class="d-flex justify-content-between border border-dark border-bottom-0 text-bg-secondary mb-0 p-2">
		<span>Event Type & Eligible Roles</span>
	</h4>
	<div class="row mx-0 border border-dark">
		<div class="col border-end border-dark p-2">
			<label for="type" class="form-label text-muted">What kind of Event is this?</label>
			<div class="btn-group" role="group" aria-label="Select Severity" style="width: 100%;">
				{% set enum = enum('\\App\\Domain\\Event\\Data\\EventTypeEnum') %}
				{% for label, case in enum.cases %}
					<input type="radio" class="btn-check event-type" name="type" id="type_{{case.value}}" value="{{case.value}}" required {{case.value == event.getType.value ? "checked"}} {{disable_type ? 'disabled'}}>
					<label class="btn btn-outline-{{case.getCssClass}}" for="type_{{case.value}}">{{case.value|title}}</label>
				{% endfor %}
			</div>
			<span class="form-text">Event types cannot be changed after they have been created</span>
		</div>
		<div class="col p-0">
			<label for="roles" class="form-label p-2 text-muted m-0">Who is allowed to sign up for this event?</label>
			<div class="list-group list-group-flush p-0 border-dark border-top border-bottom">
				{% for r in roles %}
					<label class="list-group-item d-flex align-items-center gap-2 border-dark" style="{{r.getStyleString}}">
						<input id="role-{{r.getType.value}}" class="form-check-input flex-shrink-0 p-0 m-0" type="checkbox" value="{{r.getId ?? r.getType.value}}" name="roles[]" {% if r.getId in event.getAllowedRoleIds or r.getType.value in event.getAllowedRoleIds %} checked="checked" {% endif %} {% if 'Roleplay' == event.getType.value and 'Custom' != r.getType.value %} disabled {% endif %}>
						<i class="{{r.getIcon}}"></i>
						<strong>{{r.getName}}</strong>
					</label>
				{% endfor %}
			</div>
			<div class="form-text p-2 m-0">Roleplay events are always open to Guards and Inmates.
				{% if event.getId %}Changes to this list will not affect any visits that have already been scheduled.
				{% endif %}
			</div>
		</div>
	</div>
	<div class="form-text p-2 m-0 border border-dark border-top-0">All data on this page is available to all users regardless of their access level.
	</div>
	<div class="p-2 border border-dark border-top-0 d-flex justify-content-end bg-primary-subtle gap-2">
		{% if event.getId %}
			<a href="{{url_for('event.view',{'id':event.getId})}}" class="btn btn-secondary">Cancel</a>
		{% endif %}
		<button type="submit" class="btn btn-primary">Save Changes</button>
	</div>

	<input type="hidden" name="timezone"/>
</form>
{{ webpack_entry_script_tags('eventForm') }}
