<form action="{{url}}" method="post" class="border border-dark">
	<div class="row mx-0 border-dark border-bottom p-0">
		<div class="form-floating col border-end border-dark p-0">
			<input type="date" class="form-control border-0" id="end" placeholder="" name="end" value="{{event.getStart|date("Y-m-d")}}" required min="{{event.getStart|date("Y-m-d")}}" max="{{event.getEnd|date("Y-m-d")}}">
			<label for="start">{{name|title}}
				End</label>
		</div>
		<div class="form-floating col border-dark p-0">
			<input type="date" class="form-control border-0" id="end" placeholder="" name="end" value="{{event.getEnd|date("Y-m-d")}}" required min="{{event.getStart|date("Y-m-d")}}" max="{{event.getEnd|date("Y-m-d")}}">
			<label for="start">{{name|title}}
				End</label>
		</div>
	</div>
	<div class="m-0 p-2">
		<strong>
			<i class="fa-solid fa-plane"></i>
			Have travel plans? Arriving at a specific time?</strong>
		Don't worry, you'll get a chance to submit that information on the next page.</div>
	<div class="p-2 border-dark border-top d-flex justify-content-end bg-primary-subtle gap-2">
		<a href="{{url_for('event.view',{'id':event.getId})}}" class="btn btn-secondary">Cancel</a>
		<button type="submit" class="btn btn-primary">Request
			{{name|title}}</button>
	</div>
	<input type="hidden" name="timezone"/>

</form>
{{ webpack_entry_script_tags('visitForm') }}
