{% extends 'base/base.html.twig' %}

{% block content %}
	<div class="d-flex justify-content-between align-items-center border border-dark border-bottom-0 p-2">
		<h2 class="d-inline mb-0">{{app.name}}
			Roles</h2>
        <a href="{{url_for('role.new')}}" class="btn btn-primary">Add Role</a>
	</div>
	<table class="table border border-dark table-bordered">
		<thead>
			<tr class="table-secondary border-dark">
				<th>Name</th>
				<th>Type</th>
				<th>Profiles</th>
			</tr>
		</thead>

		<tbody>
			{% for r in roles %}
				<tr>
					<td style="{{r.getStyleString}}">
						<i class="{{r.getIcon}}"></i>
						{{r.getName}}</td>
                        <td><code>{{'Custom' == r.getType.value ? 'Custom' : 'Builtin'}}</code></td>
					<td>3</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{{dump(roles)}}
{% endblock %}
