{% extends 'base/base.html.twig' %}

{% block content %}

	<div class="d-flex justify-content-between align-items-center border border-dark border-bottom-0 p-2">
		<h2 class="d-inline mb-0">Create a New Role</h2>
	</div>
    <form class="row mx-0 border border-dark" action="{{url_for('role.new')}}" method="post" id="newRoleForm" name="newRoleForm" autocomplete="off">
        <div class="col d-grid border-end border-dark p-0">
            <div class="form-floating border-dark border-bottom">
                <input type="text" class="form-control border-0" id="name" placeholder="" name="name" value="Example">
                <label for="name">Name</label>
            </div>
            <div class="form-floating border-dark border-bottom">
                <input type="color" class="form-control border-0" id="color" placeholder="" name="color" value="#6c757d">
                <label for="color">Color</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control border-0" id="icon" placeholder="" name="icon" value="fa-solid fa-circle">
                <label for="icon">Icon</label>
            </div>
        </div>
        <div class="col position-relative">
            <span class="text-muted d-block">Preview</span>
            <span id="preview" class="badge fs-3 position-absolute top-50 start-50 translate-middle" style="background-color: #6c757d; color: white"><i class="fa-solid fa-circle" id="preview-icon"></i> <span id="preview-name">Example</span>
        </div>
    </form>

    <div class="border-dark border border-top-0 p-2 d-flex justify-content between align-items-center">
    <a href="https://fontawesome.com/search?o=r&m=free" target="_blank" class="icon-link"><i class="fa-solid fa-up-right-from-square"></i> Find Icons</a>
    <div class="ms-auto">
    <button type="reset" class="btn btn-secondary" form="newRoleForm">Reset</button>
    <button type="submit" class="btn btn-primary" form="newRoleForm">Create Role</button>
    </div>
    </div>

    {{ webpack_entry_script_tags('badgePreview') }}

{% endblock %}