<div class="modal fade" id="disapproveModal" tabindex="-1" aria-labelledby="disapproveModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content shadow">
			<div class="modal-body p-4 text-center">
				<h4 class="mb-0">Revoke approval of this {{profile.getVisitName|lower}}?</h4>
				<p class="mb-0">We'll email the user that their {{profile.getVisitName|lower}} has been reset to pending.</p>
                <p class="mb-0">They will be able to make changes to their {{profile.getVisitName|lower}}.</p>
			</div>
			<form class="modal-footer flex-nowrap p-0" action="{{url_for('visit.disapprove',{'visit':visit.getId})}}" method="post">
				<button type="submit" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 text-bg-warning">
					<strong>Yes, Revoke Approval</strong>
				</button>
				<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">Cancel</button>
			</form>
		</div>
	</div>
</div>
