@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$enable-rounded: false;
$enable-cssgrid: true;

$guard: #2c702c;
$inmate: #ffa500;

$custom-colors: (
  "inmate": $inmate,
  "guard": $guard,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);

@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";

// Rest of bootstrap
@import "~bootstrap/scss/bootstrap";

@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~@fortawesome/fontawesome-free/css/v4-shims.css";
@import "~@fortawesome/fontawesome-free/css/v5-font-face.css";

[data-href] {
  cursor: pointer;
}

input,
textarea {
  @include gradient-striped();
  background-size: 32px 32px;
  background-color: #e4ebff !important;
}

.form-floating > .form-control:focus ~ label::after,
.form-floating > .form-control:not(:placeholder-shown) ~ label::after,
.form-floating > .form-control-plaintext ~ label::after,
.form-floating > .form-select ~ label::after {
  background-color: transparent !important;
}

.form-check-input:checked[type="checkbox"] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 20 20%27%3e%3cpath fill=%27none%27 stroke=%27%23000%27 stroke-linecap=%27round%27 stroke-linejoin=%27round%27 stroke-width=%273%27 d=%27m6 10 3 3 6-6%27/%3e%3c/svg%3e") !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) inset !important;
}

th.vertical {
  writing-mode: vertical-rl;
  text-align: right;
}

.fc-event {
  border-width: 0;
}

.fc-daygrid-event {
  border-radius: 0;
}

.fc-header-toolbar {
  padding: 0.5rem 1rem;
}

.fc .fc-bg-event {
  opacity: 1 !important;
}
