<script>
import FullCalendar from '@fullcalendar/vue3'
import dayGridPlugin from '@fullcalendar/daygrid'
import interactionPlugin from '@fullcalendar/interaction'
import timeGridPlugin from '@fullcalendar/timegrid'
import momentTimezonePlugin from '@fullcalendar/moment-timezone'
import { Popover } from "bootstrap";
import { format } from "date-fns";
import { zonedTimeToUtc } from "date-fns-tz";


export default {
  components: {
    FullCalendar // make the <FullCalendar> tag available
  },
  data() {
    return {
      calendarOptions: {
        plugins: [dayGridPlugin, interactionPlugin, timeGridPlugin],
        initialView: 'dayGridMonth',
        eventSources: [
          {
            url: `/calendar/events`,
            extraParams: {
              'format': 'json'
            }
          }
        ],
        height: '100%',
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay'
        },
        buttonText: {
          today: 'Today',
          month: 'Month',
          week: 'Week',
          day: 'Day',
          list: 'List'
        },
        eventClick: function (e) {
          window.location = e.event.url
        },
        eventDidMount: function (e) {
          var start = format(e.event.start, "yyyy-MM-dd kk:mm:ss");
          var end = format(e.event.end, "yyyy-MM-dd kk:mm:ss");
          var tooltip = new Popover(e.el, {
            title: `${e.event.title} `,
            content: `${start} to ${end}`,
            placement: 'top',
            trigger: 'hover',
            container: 'body'
          });
        },
      }
    }
  }
}
</script>

<template>
  <FullCalendar :options="calendarOptions" />
</template>
