<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{app.name}}</title>
		{% block stylesheets %}
			{{ webpack_entry_link_tags('app') }}
		{% endblock %}

		{% block scripts %}
			{{ webpack_entry_script_tags('app') }}
		{% endblock %}
		<style>
			body {
				height: 100vh;
				display: flex;
				flex-direction: column;
			}
			#app {
				flex: 1;
			}
		</style>
	</head>
	<body>
		{{include('base/header.html.twig',{'wide': true})}}
		<div id="app" style="height: 100%;"></div>
		{{ webpack_entry_script_tags('calendar') }}

	</body>
</html>
