{% extends 'base/base.html.twig' %}
{% block content %}
	{% include [
				'errors/exceptions/' ~ type ~ '.html.twig',
				'errors/' ~ error.getCode ~ '.html.twig', 
				'errors/generic.html.twig'
			] ignore missing %}
	{% if app.debug %}
		<div class="list-group">
			{% for t in error.trace %}
				<div class="list-group-item d-flex">
					<div>
						<span class="font-monospace d-block mb-0" style="font-size:.5rem">{{t.file}}:{{t.line}}:</span>
						<code>{{t.class}}{{t.type}}{{t.function}}()</code>
					</div>
				</div>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
