{% extends 'base/base.html.twig' %}

{% block header %}
	{% if not app.user or app.user.requirepasswordreset %}
		{% include 'base/nonav.html.twig' %}
	{% else %}
		{{parent()}}
	{% endif %}
{% endblock %}

{% block content %}
	{% if not app.user %}
		{% include('guest/guest.html.twig') %}
	{% elseif app.user.requirepasswordreset %}
		<div class="mx-auto card bg-secondary-subtle border border-secondary" style="max-width: 500px;">
			<div class="card-body p-0">
				<h3 class="p-2 m-0">Choose A New Password</h3>
				{{ include('user/form/forcePasswordResetForm.html.twig') }}
			</div>
		</div>
	{% else %}
		{% include('home/home.html.twig') %}
	{% endif %}
{% endblock %}
