<h3>Log In</h3>
<form method="post" action="{{url_for('login')}}">
	<div class="mb-3">
		<label for="email" class="form-label">Email Address</label>
		<input name="email" id="email" type="email" class="form-control"/>
	</div>
	<div class="mb-3">
		<label for="password" class="form-label">Password</label>
		<input name="password" id="password" type="password" class="form-control"/>
	</div>
	{{csrf()}}
	<div class="d-grid mb-3">
		<button type="submit" class="btn btn-primary">Login</button>
	</div>
	<a href="#" class="text-end d-block">Reset Your Password</a>
</form>
