<h3>Create Account</h3>
<form method="post" action="{{url_for('register')}}">
	<p>How we refer to you is important, but so is your privacy. None of the information provided here will be visible to other users; only admins. <strong>Your password is never visible to anyone.</strong></p>
	<div class="mb-3">
		<label for="firstName" class="form-label">First Name</label>
		<input name="firstName" id="firstName" class="form-control"/>
	</div>
	<div class="mb-3">
		<label for="lastName" class="form-label">Last Name</label>
		<input name="lastName" id="lastName" class="form-control"/>
	</div>
	<div class="mb-3">
		<label for="email" class="form-label">Email Address</label>
		<input name="email" id="email" type="email" class="form-control"/>
		<div class="form-text">You'll use this to log in</div>
	</div>
	<div class="mb-3">
		<label for="password" class="form-label">Password</label>
		<input name="password" id="password" type="password" class="form-control"/>
	</div>
	{{csrf()}}
	<div class="d-grid">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>
