{% extends "base/base.html.twig" %}
{% block content %}
	<form method="post" id="editRank" name="editRank" autocomplete="off" action="{{url_for('ranks.edit',{'id':rank.getId})}}">
		<input type="hidden" name="flags[]" value="0" form="editRakn">
	</form>
	<table class="table table-sm table-bordered border-dark">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				{% set enum = enum('\\App\\Domain\\User\\Data\\Permissions') %}
				{% for c in enum.cases %}
					<th class="vertical">
						{{c.getName}}
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{rank.getId}}</td>
				<td>
					<div class="input-group input-group-sm">
						<input type="text" class="form-control" name="name" placeholder="Rank Title" required form="editRank" value="{{rank.name}}">
						<button type="submit" class="btn btn-outline-secondary" form="editRank">Save Changes</button>
					</div>
				</td>
				{% for c in enum.cases %}
					<td class="checkbox">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="flags[]" value="{{c.value}}" form="editRank" {% if rank.flags b-and c.value %} checked="checked" {% endif %}>
							<label class="form-check-label" for="flags[]"></label>
						</div>
					</td>
				{% endfor %}
			</tr>
		</tbody>
	</table>
{% endblock %}
