{% extends "base/base.html.twig" %}
{% block content %}
	<table class="table table-sm table-bordered border-dark">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				{% set enum = enum('\\App\\Domain\\User\\Data\\Permissions') %}
				{% for c in enum.cases %}
					<th class="vertical">
						{{c.getName}}
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for r in ranks %}
				<tr>
					<td class="position-relative">
						<a href="{{url_for('ranks.edit',{'id':r.getId})}}" class="text-decoration-none fw-bold stretched-link">{{r.getId}}</a>
					</td>
					<td>{{r.getName}}</td>
					{% for c in enum.cases %}
						{% if r.flags b-and c.value %}
							<td class="table-success text-success text-center border-dark">
								<i class="fa-solid fa-circle-check"></i>
							</td>
						{% else %}
							<td class="table-danger text-danger text-center border-dark">
								<i class="fa-solid fa-circle-minus"></i>
							</td>
						{% endif %}
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
		<tfoot class="table-group-divider">
			<form method="post" id="newRank" name="newRank" autocomplete="off" action="{{url_for('ranks.new')}}">
				<input type="hidden" name="flags[]" value="0" form="newRank">
			</form>
			<tr>
				<td>Add New</td>
				<td>
					<div class="input-group input-group-sm">
						<input type="text" class="form-control" name="name" placeholder="Rank Title" required form="newRank" value="{{rank.rank}}">
						<button type="submit" class="btn btn-outline-secondary" form="newRank">Submit</button>
					</div>
				</td>
				{% for c in enum.cases %}
					<td class="checkbox">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="checkbox" name="flags[]" value="{{c.value}}" form="newRank">
							<label class="form-check-label" for="flags[]"></label>
						</div>
					</td>
				{% endfor %}
			</tr>
		</tfoot>
	</table>
{% endblock %}
