{% extends 'base/base.html.twig' %}
{% block header %}
	{% include 'base/nonav.html.twig' %}
{% endblock %}
{% block content %}
	<div class="mx-auto card bg-secondary-subtle border border-secondary" style="max-width: 500px;">
		<div class="card-body p-0">
			<h3 class="p-2 m-0">Choose A New Password</h3>
			{{ include('user/form/forcePasswordResetForm.html.twig') }}
		</div>
	</div>
{% endblock %}
