{% extends "base/base.html.twig" %}
{% block content %}
	<table class="table border-dark table-bordered table-sm">
		<thead>
			<tr class="table-secondary border-dark">
				<th>ID</th>
				<th>Name</th>
				<th>Email Address</th>
				<th>Rank</th>
				<th>Account Created</th>
				<th>Account Enabled</th>
			</tr>
		</thead>
		<tbody>
			{% for u in users %}
				<tr>
					<td>
						<a href="{{url_for('user.edit',{'user':u.getId})}}">{{u.getId}}</a>
					</td>
					<td>{{u.getLastName}},
						{{u.getFirstName}}</td>
					<td>
						{% if u.isConfirmed %}
							<i class="fa-solid fa-circle-check text-success" data-bs-title="Email address confirmed" data-bs-toggle="tooltip"></i>
						{% else %}
							<i class="fa-solid fa-circle-minus text-danger" data-bs-title="Email address not confirmed" data-bs-toggle="tooltip"></i>
						{% endif %}
						{{u.getEmail}}
					</td>
					<td>{{u.getRank.getName}}</td>
					<td>
						<time>{{u.getCreated|date}}</tim>
					</td>
					{% if u.isEnabled %}
						<td class="table-success text-success text-center border-dark">
							<i class="fa-solid fa-circle-check"></i>
						</td>
					{% else %}
						<td class="table-danger text-danger text-center border-dark">
							<i class="fa-solid fa-circle-minus"></i>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
