{% extends "base/base.html.twig" %}
{% block content %}
	{% from 'macro/badge.html.twig' import userBadge, roleBadge %}
	{% from 'macro/confirm.html.twig' import confirm %}

	<div class="d-flex justify-content-between align-items-center border border-dark border-bottom-0 p-2">
		<h2 class="d-inline mb-0">
			<span class="text-muted">#{{user.getId}}</span>
			{{user.getLastname}},
			{{user.getFirstName}}</h2>
		<div>
			<a href="#" data-bs-toggle="modal" data-bs-target="#passwordModal" class="btn btn-warning">
				<i class="fa-solid fa-key"></i>
				Set Password
			</a>
			{% set url = url_for('user.edit',{'user':user.getId,'action':'activate'}) %}
			{% if user.isEnabled %}
				{{confirm("Disable Account?","This user will not be able to log in and use the application",url, 'text-bg-danger', 'Confirm', 'danger','Disable Account','fa-solid fa-circle-minus')}}
			{% else %}
				{{confirm("Enable Account?","This user will be able to log in and use the application",url, 'text-bg-success', 'Confirm', 'success','Enable Account','fa-solid fa-circle-check')}}
			{% endif %}
		</div>
	</div>
	<h4 class="d-flex justify-content-between border border-dark border-bottom-0 text-bg-secondary mb-0 p-2">
		<span>Basic Information</span>
	</h4>
	<div class="row border border-dark border-bottom-0 mx-0">
		<div class="col-md d-grid border-dark border-end p-2">
			<span class="text-muted">Email Address</span>
			<div class="fw-bold">
				{% if u.isConfirmed %}
					<i class="fa-solid fa-circle-check text-success" data-bs-title="Email address confirmed" data-bs-toggle="tooltip"></i>
				{% else %}
					<i class="fa-solid fa-circle-minus text-danger" data-bs-title="Email address not confirmed" data-bs-toggle="tooltip"></i>
				{% endif %}
				{{user.getEmail}}
			</div>
		</div>
		<div class="col-md d-grid border-dark border-end p-2">
			<span class="text-muted">Account Created</span>
			<time class="fw-bold">{{user.getCreated|date}}</time>
		</div>
		<div class="col-md d-grid p-2">
			<span class="text-muted">Rank</span>
			<div class="fw-bold">
				{{user.getRank.getName}}
				{% include 'user/components/rankModal.html.twig' %}
			</div>
		</div>
	</div>
	<h4 class="d-flex justify-content-between align-items-center border border-dark border-bottom-0 text-bg-secondary mb-0 p-2">
		<span>User Profiles</span>
		<a href="#" data-bs-toggle="modal" data-bs-target="#profileModal" class="btn btn-primary btn-sm">
			<i class="fa-solid fa-plus"></i>
			Grant Profile
		</a>


	</h4>
	<table class="table table-sm table-bordered border-dark">
		<thead>
			<tr>
				<th>Profile</th>
				<th>Role</th>
			</tr>
		</thead>
		<tbody>
			{% for p in user.getProfiles %}
				<tr>
					<td>{{roleBadge(p.getBadge)}}</td>
					<td>{{p.getRole.getName}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% include 'user/components/profileModal.html.twig' %}
	{% include 'user/components/resetPasswordModal.html.twig' %}


{% endblock %}
