{% macro userBadge(badge, classes="") %}
	<span class="badge badge-user text-bg-primary {{classes}}">{{badge.getEmail}}</span>
{% endmacro %}

{% macro inmateBadge(foreColor, bgColor, icon, name, classes="") %}
	<span class="badge badge-inmate text-bg-inmate {{classes}}">
		<i class="{{badge.getIcon}}"></i>
		{{badge.getName}}</span>
{% endmacro %}

{% macro guardBadge(badge, classes="") %}
	<span class="badge badge-inmate text-bg-guard {{classes}}">
		<i class="{{badge.getIcon}}"></i>
		{{badge.getName}}</span>
{% endmacro %}

{% macro roleBadge(badge, classes="") %}
	<span class="badge badge-role border border-subtle {{classes}}" style="background: {{badge.getBgColor}}; color:{{badge.getForeColor}}" data-bs-toggle="tooltip" data-bs-title="{{badge.getRole}}">
		<i class="{{badge.getIcon}}"></i>
		{% if app.user.has('VIEW_DETAILS') %}
			{{badge.getName}}
		{% elseif badge.getUser == app.user.getId %}
			{{badge.getName}}
		{% else %}
			{{badge.getName}}
		{% endif %}
	</span>
{% endmacro %}

{% macro approvalBadge(status, positive="Approved", negative="Pending", classes="") %}
	{% if status %}
		<span class="badge text-bg-success">
			<i class="fa-solid fa-circle-check"></i>
			{{positive}}</span>
	{% else %}
		<span class="badge text-bg-warning">
			<i class="fa-solid fa-circle-stop"></i>
			{{negative}}</span>
	{% endif %}
{% endmacro %}
