{% macro confirm(headline, subline, action, buttonClass = 'text-bg-success', buttonText = 'Confirm', invokeBtnClass = 'primary', invokeBtnText = 'Confirm', icon) %}

	{% set id = "modal-confirm-" ~ random() %}
	{% apply spaceless %}
	<a href="#{{id}}" data-bs-toggle="modal" data-bs-target="#{{id}}" class="btn btn-{{invokeBtnClass}}">
		<i class="{{icon}}"></i>
		{{invokeBtnText}}</a>

	<div class="modal fade" id="{{id}}" tabindex="-1" aria-labelledby="{{id}}Label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content shadow">
				<div class="modal-body p-4 text-center">
					<h4 class="mb-0">{{headline}}</h4>
					<p class="mb-0">{{subline}}</p>
				</div>
				<form class="modal-footer flex-nowrap p-0" action="{{action}}" method="post">
					<button type="submit" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0 {{buttonClass}}">
						<strong>{{buttonText}}</strong>
					</button>
					<button type="button" class="btn btn-lg btn-link fs-6 text-decoration-none col-6 py-3 m-0 rounded-0" data-bs-dismiss="modal">Cancel</button>
				</form>
			</div>
		</div>
	</div>
	{% endapply %}
{% endmacro %}
