{% macro formHeader(action, status, by = null) %}
    {% apply spaceless %}
	<div class="py-1 px-2 border border-dark border-bottom-0 d-inline-block ms-4 me-0 bg-dark text-light">Action</div>
	<div class="py-1 px-2 border border-dark border-bottom-0 border-start-0 d-inline-block">{{action}}</div>
	<div class="{{html_classes(
        'py-1',
        'px-2',
        'border',
        'border-dark',
        'border-bottom-0',
        'border-start-0',
        'd-inline-block',
        'fw-bold',
        {
        'text-bg-success' : 'authorized' == status,
        'text-bg-danger' : 'unauthorized' == status,
        'text-bg-warning' : 'blocked' == status,
        })}}"
        {% if by %}
        data-bs-toggle="tooltip" data-bs-title="Source: {{by}}"
        {% endif %}
        >{{status|upper}}</div>
        {% endapply %}
{% endmacro %}

{% macro autoFormHeader(auth) %}
    {% if auth %}
    {{_self.formHeader(auth.action, auth.status, auth.source)}}
    {% else %}
    <div class="py-1 px-2 border border-dark border-bottom-0 d-inline-block ms-4 me-0 text-bg-warning">No Form Header Specified</div>
    {% endif %}
{% endmacro %}
